.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_box {
    width: 95%;
    height: 95%;
    background: #36393fda;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_content {
    height: 100%;
    display: flex;
    justify-content: center;
}

.container_img {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 25vw;
    height: auto;
    border-radius: 25px;
}

.container_content {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span_tag {
    padding: 0.5em 1em;
    font: 0.85rem Arial;
    font-weight: 700;
    color: white;
    background: #9494948a;
    border: 0 black;
    border-radius: 5px;
    margin: 3px;
}

.add_bot {
    position: relative;
    margin: 15px auto 0 auto;
    color: #8cd2d5;
    text-align: center;
}

.read_button_margin {
    background: #7289da;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
    }

    .main_content {
        height: max-content;
        flex-direction: column;
        margin: 15px;
    }

    .img {
        width: 50vw;
        margin-top: 15px;
    }

    .container_img {
        width: 100%;
    }
    
    .container_content {
        width: 100%;
        justify-content: flex-start;
        padding: 15px 15px;
    }

  }