.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.metadata {
  width: 100%;
  margin: 1em 0 1em 0;
  border: 1px white;
  color: #8cd2d5;
  text-align: center;
}

.metadata span {
  font-size: 1em;
}

.main {
  width: 100%;
}

.img {
  width: 50%;
  height: auto;
  display: block;
  margin: 1em auto;
}

@media (max-width: 768px) {
  .img {
    width: 100%;
  }
}

.img img {
  width: 100%;
  height: auto;
}
